@model IEnumerable<BangaFilmes.Models.Movie>

@{
    ViewBag.Title = "BangaFilmes";
}


    <div id="content" class="span12">
        <div class="cinema">
            <ul class="thumbnails">
                <div class="thumbnails" >
                    
                    @foreach (var movie in Model)
                    {
                        <li class=""><a href=@Url.Action("Details","Movie",new{id=movie.Id},null )> <div class="thumbnail"><img class="img-rounded" src=@movie.PosterUrl alt="" >@movie.OriginalTitle</div></a></li>
                    }
                        
                                
                </div>    
            </ul>
        </div>
    </div>


     